@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&family=Rubik:wght@300;600&family=Slackside+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #3F120F;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.contents_box::-webkit-scrollbar{
  display: none;
}